* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

/* Definition Styles */
.definition {
  background: lightblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  justify-items: flex-start;
}
.definition-box {
  width: 80%;
}

.definition-box p {
  font-size: 2rem;
}

/* Demo Styles */
.demo {
  height: 100vh;
  background: lightpink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.demo-box {
  width: 70%;
  height: 50%;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  background: #fff;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 400px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: lightseagreen;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
